
body {
	background-color: #DCDCDC; /* grey */
	height: 100vh; 
	/* The viewport-percentage lengths are relative to the size of the initial
	containing block.When the height or width of the initial containing block
	is changed, they are scaled accordingly. */
}

h1 {
	color: #FFEAA8;
	text-align: center;
	font-size: 3.5em;
	font-family: Optima, Calibri, Arial, sans-serif; 
	font-weight: bold;
}

h2 {
	color: white;
	text-align: center;
	font-size: 1.5em;
	font-weight: normal;
}

.container {
	background-color: #2B60DE; /* royal blue */
	height: 100vh;
    overflow-y:auto;
}

input{
	color: black;
}

.directionsform {
	color: white;
	text-align: center;
	font-size: 1.35em;
}

#map-canvas {
	height: 350px;
	width: 100%;
	display: block;
	margin: auto;
}

.maps {
	height: 100%;
	width: 100%;
}

.flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.flexible-container iframe,   
.flexible-container object,  
.flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-height: 0;
    margin-width: 0;
}