
body {
	background-color: #DCDCDC; /* grey */
	height: 100vh; 
	/* The viewport-percentage lengths are relative to the size of the initial
	containing block.When the height or width of the initial containing block
	is changed, they are scaled accordingly. */
}

.container {
	background-color: #2B60DE; /* royal blue */
	height: 100vh;
    overflow-y:auto;

}

h1 {
	color: #FFEAA8;
	text-align: center;
	font-size: 3em;
}

h2 {
	color: white;
	font-size: 1.5em;
	text-align: center;
}